

.calendar-page{

.calendar-dropdown {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    width: 150px;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid transparent;
}

.calendarTitle {
    border: 2px solid var(--fourth-color);
    margin: 5% auto;
    text-align: center;
    font-size: 4em;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--fourth-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendarTitle button {
    font-style: bold;
    font-size: 4rem;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border: none;
    color: var(--fourth-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calendar {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    border: 2px solid var(--fourth-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-collapse: collapse;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.weekday {
    border: 1px solid var(--fourth-color);
    color: var(--fourth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
}


.day {
    color: var(--fourth-color);
    border: 1px solid var(--fourth-color);
    font-size: 1.2rem;
    padding: 5%;
    aspect-ratio: 1/1;
    background-color: var(--secondary-color);
}

.day:empty {
    background-color: var(--main-color);
}

.day.trailing {
    background-color: var(--main-color);
}


}