

.calendar-page{

main {
    min-width: 900px;
}

.calendar-dropdown {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    width: 150px;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid transparent;
}

#return {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    width: 150px;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid transparent;
    font-size: .9rem;
    color: var(--fourth-color);
}

#return:hover {
    background-color: var(--main-color);
}

.calendarTitle {
    border: 2px solid var(--fourth-color);
    margin: 5% auto;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--fourth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.calendarTitle p {
    font-size: 4em;
    color: var(--fourth-color);
    margin: 0 0;
    width: 14ch;

}
.calendarTitle button {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1;
    padding: 0 0 .3em;
    background-color: var(--secondary-color);
    border: none;
    color: var(--fourth-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calendarTitle button:hover {
    color: var(--main-color);
}

#calendar {
    /* font-family: Arial, Helvetica, sans-serif; */
    height: auto;
    border: 2px solid var(--fourth-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-collapse: collapse;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin: 0 auto;
}

.weekday {
    border: 2px solid var(--fourth-color);
    color: var(--fourth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
}


.day {
    color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    font-size: 1.2rem;
    padding: 5%;
    aspect-ratio: 1/1;
    background-color: var(--secondary-color);
}

.day:empty {
    background-color: var(--main-color);
}

.day.trailing {
    background-color: var(--main-color);
}




}