/* :root {
    --home-border-color: #003b5c;
    --home-bg-color: white;
} */

.home-page{

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        min-height: 1000px;
        min-width: 600px;
    }

    #aiPrompt {
        border: 2px solid var(--main-color);
        grid-column: 1/-1;
        grid-row: 1/2;
        height: 100px;
        background-color: var(--secondary-color);
        border-radius: 5px;
        min-height: 150px;
    }

    #currGoals {
        border: 2px solid var(--main-color);
        height: 600px;
        grid-column: 1/2;
        grid-row: 2/8;
        background-color: var(--secondary-color);
        border-radius: 5px;
        min-height: 900px;
    }

    .goal_list {
        color: var(--fourth-color);
        margin: 0 5% 0 0;

    }

    .goal_list li {
        color: var(--fourth-color);
        font-size: 1.3em;
    }

    #journalEntries {
        border: 2px solid var(--main-color);
        grid-column: 2/-1;
        grid-row: 2/6;
        background-color: var(--secondary-color);
        border-radius: 5px;
        min-height: 300px;
    }

    #journal_entry {
        background-color: var(--main-color);
        margin: 0 6% 0 5%;
        width: 100%;
        height: 100%;
        max-height: 75%;
        max-width: 89%;
        font-size: 1.6em;
        resize: none;
        padding: 1%;
        color: var(--fourth-color);
        border: 2px solid var(--fourth-color);
        border-radius: 1%;
    }


    #addGoal {
        border: 2px solid var(--main-color);
        grid-column: 2/-1;
        grid-row: 6/8;
        background-color: var(--secondary-color);
        border-radius: 5px;
        min-width: 400px;
        min-height: 200px;
    

    }

    h2 {
        color: var(--fourth-color);
        margin: 1% 10px;
        text-decoration: underline;
        border-radius: 5px;
        

    }

    #goal-creation {
        background-color: var(--main-color);
        margin: 0 6% 0 5%;
        width: 100%;
        height: 100%;
        max-height: 60%;
        max-width: 89%;
        font-size: 1.6em;
        resize: none;
        padding: 1%;
        color: var(--fourth-color);
        border: 2px solid var(--fourth-color);
        border-radius: 1%;
    }

    #submit {
        display: flex;
        background-color: var(--third-color);
        color: var(--secondary-color);
        min-width: 150px;
        width: auto;
        border-radius: 5px;
        border: 2px solid var(--fourth-color);
        font-size: 1.5rem;
        justify-self: flex-end;
        margin: 1.5% 5%;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        
}

    #submit:hover {
        background-color: var(--main-color);
        color: var(--fourth-color);
}





}