:root {
    --color: cyan;
}


.site-header {
    text-align: center;
    background-color: var(--color);
    border-bottom: 1px black solid;
}

.site-header h1 {
    background-color: var(--color);
    color: blue;
    padding: 2%;
    border-bottom: 1px solid black;
    margin: 0 auto;
}

nav {

}

nav ul {
    display: flex;
    justify-content: space-evenly;

}

li {
    list-style-type: none;
    text-decoration:  none;
    /* border: 2px dashed purple;   */

    text-align: center;
    border: 1px solid black;
    
}