.site-footer {
    background: var(--secondary-color);      
    padding: 20px 0;
    text-align: center;
    border-top: 5px solid var(--fourth-color);
    font-size: 0.9rem;
    color: var(--fourth-color);
}

.site-footer a {
    color: var(--fourth-color);           
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.2s ease;
}

.site-footer a:hover {
    color: var(--third-color);           
}
